<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Flower Class Prediction</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container contact-form">
      <div class="contact-image">
        <img
          src="{{ url_for('static', filename='img/sunflower.png') }}"
          alt="rocket_contact"
        />
      </div>
      <form action="{{ url_for('predict')}}" method="post">
        <h3>Playing Golf Recommendation</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="Outlook_Overcast"
                class="form-control"
                placeholder="Outlook Overcast"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="Outlook_Rainy"
                class="form-control"
                placeholder="Outlook Rainy"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="Outlook_Sunny"
                class="form-control"
                placeholder="Outlook Sunny"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="Temperature_Cool"
                class="form-control"
                placeholder="Temperature Cool"
                required="required"
              />
            </div>
            <div class="form-group">
                <input
                  type="text"
                  name="Temperature_Hot"
                  class="form-control"
                  placeholder="Temperature Hot"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="Temperature_Mild"
                  class="form-control"
                  placeholder="Temperature Mild"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="Humidity_High"
                  class="form-control"
                  placeholder="Humidity High"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="Humidity_Normal"
                  class="form-control"
                  placeholder="Humidity Normal"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="Windy_False"
                  class="form-control"
                  placeholder="Windy False"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="Humidity_True"
                  class="form-control"
                  placeholder="Humidity True"
                  required="required"
                />
              </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">
              Predict
            </button>
          </div>
          <div class="col-md-6">
            <h3>
              Hasil Prediksi : <br />
              {{ prediction_text }}
            </h3>
          </div>
        </div>
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>